.counter-container {
  color: rgb(48, 37, 37);
  background-color: #e1e8f2;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  width: 37%;
}

.main-container {
  margin-left: 20px;
  margin-top: 10px;
}